<%- include("partials/header") -%>

    <h1>Home</h1>
    <p>
        <%= homeContent %>
    </p>

<% newTitle.forEach(function(newPost){ %>
  <h1><%= newPost.titleContent %></h1>
  <p><%= newPost.postContent.substr(0, 100) + " ... " %>
  <a href="/posts/<%= newPost.titleContent %>">Read more</a></p>
<% }); %>

<%- include("partials/footer") -%>
